.piechart{
    width:600px!important;
    height:400px !important;
    
   
}
@media (max-width: 767px) {

    .piechart{
        width:100% !important;
        

        padding: 20px;

       
    }
   
    

}  