.modalWidth {
  min-width: 60vw !important;
}
.modalHeight {
  height: 80vh !important;
  overflow: auto;
}
.addShopTitle {
  background-color: beige;
}
.shops_listing_custom_height {
  height: 80vh !important;
  overflow: auto !important;
}
.keyPersonDetails {
  font-weight: 500;
  font-size: 20px !important;
  text-decoration: underline;
  color: crimson;
}

/* custome dropdown */
.hall_number {
  position: absolute;
  top: 4.2rem;
  width: 100%;
  min-height: 6rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255);
  z-index: 1;
}
:hover.dropDown_item {
  background-color: rgba(0, 123, 255, 0.1);
  cursor: pointer;
}
/* ------------------------------------------- THE END ------------------------------------------- */
