.modalWidth {
  min-width: 60vw !important;
}
.modalHeight {
  height: 60vh !important;
  overflow: auto;
}
.addPermissionTitle {
  background-color: beige;
}

/* ------------------------------------------- THE END ------------------------------------------- */
