.custom_loader {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#F4F4F4 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#F4F4F4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }